# Ignore dependencies
node_modules/
.pnp
.pnp.js

# Production build
dist/

# Misc
.DS_Store
*.pem
.vscode/
.idea/

# Environment variables (local only)
.env.local
.env.*.local

# Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
*.tsbuildinfo
